# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Underscorify'
      'submenu': [
        { 'label': 'Run', 'command': 'underscorify:run' }
      ]
    ]
  }
]
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Underscorify'
      'command': 'underscorify:run'
    }
  ]
